<li class="breadcrumb-item">
    <a href="@Url" class="@(CssClass)">@Name</a>
</li>
@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string CssClass { get; set; }
    [Parameter]
    public string Url { get; set; }
}
