<ol class="breadcrumb">
    @if ((Parents?.Count ?? 0) > 0)
    {
        foreach (var parent in Parents.Where(parent => parent.Type == UIActionTypes.Route))
        {
            <BreadcrumbsParent Action="@parent"></BreadcrumbsParent>
        }
    }
    <li class="breadcrumb-item active">@Name</li>
    <li class="breadcrumb-menu">
        @if ((Actions?.Count ?? 0) > 0)
        {
            foreach (var action in Actions)
            {
                <BreadcrumbsAction Action="@action"></BreadcrumbsAction>
            }
        }
        @ContextSelectorFragment
    </li>
</ol>

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public List<UIAction> Parents { get; set; } = new List<UIAction>();
    [Parameter]
    public List<UIAction> Actions { get; set; } = new List<UIAction>();
    [Parameter]
    public RenderFragment ContextSelectorFragment { get; set; }
}