<ol class="breadcrumb">
    @ParentsFragment
    <li class="breadcrumb-item active">@Name</li>
    @if (ActionsFragment != null)
    {
        <li class="breadcrumb-menu">
            @ActionsFragment
        </li>
    }
</ol>

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public RenderFragment ParentsFragment { get; set; }
    [Parameter]
    public RenderFragment ActionsFragment { get; set; }
}